{% extends 'fritid/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col--md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Om siden</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-15 offset-md-1 p-4 text-center">
            <h1>om siden</h1>
            <h3>her er nogle ideer til et par kreative timer. For meget af det er det kun fanfasien som sætter grænsen.</h3>
            <h3>og det skal mest ses som inspiration, og være ide skabende. Farver og mønstre er op til en selv.</h3>
            <h3>Nogle ting kan evt også bestilles, og der vil så være pris ved.</h3>
            <h3>De ting der ikke er pris ved, kan vi evt. forhandle om, med mindre at man selv laver dem.</h3> 
            <h3>Der er lagt modeller ud til nogle af tingene, der kan kigges efter</h3>
        </div>
    </div>>
</div>
{% endblock content %}