
<nav class="navbar navbar-expand-lg navbar-light indigo navbar-fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">Forsiden</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">Om siden</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'start' %}">Info</a>
        </li>
      </ul>
      
        <div class="nav-item dropdown">
          <a class="nav-link btn btn-success dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-pen"></i>
            Kategori
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="kategori.perler">Perler</a></li>
            <li><a class="dropdown-item" href="kategori.kniplinger">Kniplinger</a></li>
            <li><a class="dropdown-item" href="kategori.filt">Filt</a></li>
            <li><a class="dropdown-item" href="kategori.papir">Pap</a></li>
          </ul>
        </div>
      
      </ul>
    </div>
</nav>
