{% extends 'fritid/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col--md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Min fritid</h1>
            <h2>Her kan du vælge at se udvalget, eller hvilke, jeg har lagt modeller ud på, så man selv kan lave.</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            
            <a href="{% url 'slags' %}"  class="btn btn-outline-success">Menu</a>
            <a href="{% url 'test' %}"  class="btn btn-outline-success">Modeller</a>
        </div>
    </div>
</div>
{% endblock content %}