{% extends 'fritid/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for perle in perler %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ perle.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ perle.pk }}">
                                    <label class="form-check-label">{{ perle.name }}</label>
                                </div>
                                
                            </div>
                            <h5>Beskrivelse</h5>
                            <p>{{ perle.beskrivelse }}</p>
                            <h5>Tilbehør</h5>
                            <p>{{ perle.tilbehør}}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    {% for kniplinger in knipling %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ kniplinger.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ kniplinger.pk }}">
                                    <label class="form-check-label">{{ kniplinger.name }}</label>
                                </div>
                                
                            </div>
                            <h5>Beskrivelse</h5>
                            <p>{{ kniplinger.beskrivelse }}</p>
                            <h5>Tilbehør</h5>
                            <p>{{ kniplinger.tilbehør}}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for fi in filt %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ fi.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ fi.pk }}">
                                    <label class="form-check-label">{{ fi.name }}</label>
                                </div>
                                
                            </div>
                            <h5>Beskrivelse</h5>
                            <p>{{ fi.beskrivelse }}</p>
                            <h5>Tilbehør</h5>
                            <p>{{ fi.tilbehør}}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for pap in papir %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ pap.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ pap.pk }}">
                                    <label class="form-check-label">{{ pap.name }}</label>
                                </div>
                                
                            </div>
                            <h5>Beskrivelse</h5>
                            <p>{{ pap.beskrivelse }}</p>
                            <h5>Tilbehør</h5>
                            <p>{{ pap.tilbehør}}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
